.container-fluid
  h3 My Projects
  ul.list-group.student-projects
    li.list-group-item.panel.panel-primary(ng-repeat='project in $ctrl.projects | orderBy : "num"')
      .row
        .col-sm-3
          h2 Project {{ project.num || 'NA' }}
        .col-sm-9
          dl.dl-horizontal.text-left
            dt Number:
            dd
              a(href='#',
              editable-range='project.num',
              e-step="1",
              e-max="5",
              ng-model='project.num',
              onbeforesave="$ctrl.updateNumber(project, $data)")
                | {{ project.num || 'empty' }}
            dt Title:
            dd
              a(href='#',
              editable-text='project.title',
              ng-model='project.title',
              onbeforesave="$ctrl.updateTitle(project, $data)")
                | {{ project.title || 'empty' }}
            dt Description:
            dd
              a(href='#',
              editable-text='project.info',
              ng-model='project.info',
              onbeforesave="$ctrl.updateInfo(project, $data)")
                | {{ project.info || 'empty' }}
            dt GitHub URL
            dd
              a(href='#',
              editable-text='project.githubUrl',
              ng-model='project.githubUrl',
              onbeforesave="$ctrl.updateGithubUrl(project, $data)")
                | {{ project.githubUrl || 'empty' }}
              a(ng-href="{{project.githubUrl}}", target="_blank", style="margin-left: 10px;")
                | (Visit)
            dt Deployment URL
            dd
              a(href='#',
              editable-text='project.deploymentUrl',
              ng-model='project.deploymentUrl',
              onbeforesave="$ctrl.updateDeploymentUrl(project, $data)")
                | {{ project.deploymentUrl || 'empty' }}
              a(ng-href="{{project.deploymentUrl}}", target="_blank", style="margin-left: 10px;")
                | (Visit)

            dt Total Score:
            dd {{ $ctrl.getTotalScore(project) }} / {{project.requirements.length * 2}}

      // Project Requirements and Instructor Feedback
      .row
        .col-sm-12
          div(ng-init="project.requirementsIsCollapsed = true; project.keyIsCollapsed = true;")
            a(href='#' ng-click="project.requirementsIsCollapsed = !project.requirementsIsCollapsed")
              span.text-warning
                | Requirements and Instructor Feedback
                i.glyphicon(ng-class="{'glyphicon-chevron-down': !project.requirementsIsCollapsed, 'glyphicon-chevron-right': project.requirementsIsCollapsed}")
            .panel.panel-warning(uib-collapse='project.requirementsIsCollapsed', style="margin-top: 10px")
              a(href='#' ng-click='project.keyIsCollapsed = !project.keyIsCollapsed')
                small.text-danger Show Scoring Key
                i.text-danger.glyphicon(ng-class="{'glyphicon-chevron-down': !project.keyIsCollapsed, 'glyphicon-chevron-right': project.keyIsCollapsed}")
              .panel.panel-danger(uib-collapse='project.keyIsCollapsed')
                .panel-heading Scoring Key
                .panel-body
                  table.table.table-bordered.table-striped(style='margin-top: 20px')
                    thead
                      tr
                        th Score
                        th Expectations
                    tbody
                      tr
                        td 0
                        td Incomplete.
                      tr
                        td 1
                        td Does not meet expectations.
                      tr
                        td 2
                        td Meets expectations, good job!
                      tr
                        td 3
                        td Exceeds expectations, you wonderful creature, you!

              table.table.table-bordered.table-striped(style='margin-top: 20px')
                thead
                  tr
                    th Title
                    th Info
                    th Comments
                    th Score
                tbody
                  tr(ng-repeat='requirement in project.requirements | orderBy : "num"')
                    td {{ requirement.title }}
                    td {{ requirement.info }}
                    td {{ requirement.comments || 'empty' }}
                    td {{ requirement.score || (requirement.score === 0 ? 0 : 'empty') }}
                  tr
                    td Summary
                    td
                    td {{project.comments}}
                    td {{$ctrl.getTotalScore(project)}}

          a.trash(ng-click='$ctrl.deleteProject(project)')
            span.glyphicon.glyphicon-trash.pull-right(style='margin-top:-15px;')

  button.btn.btn-default(ng-click='$ctrl.addProject()') Add Project
