.container-fluid
  h2 Student Projects for
    span(class='text-success') {{ ' ' + $ctrl.getCurrentUser().name }}

  ul.list-group
    li.list-group-item(ng-repeat='project in $ctrl.projects | orderBy : "num"')
      .row
        .col-sm-3
          h2 Project {{ project.num || 'empty' }}
        .col-sm-9
          div.project-form
            form(editable-form='' name='projectForm' onaftersave='$ctrl.saveProject()')
              div
                span(class='title') Title:
                span(editable-text='project.title'
                     e-name='title'
                     e-required)
                  | {{ project.title || 'empty' }}
              div
                span(class='title') Info:
                span(editable-text='project.info'
                     e-name='info')
                  | {{ project.info || 'empty' }}
              div
                span(class='title') GitHub URL
                span(editable-url='project.githubUrl'
                     e-name='githubUrl')
                  | {{ project.githubUrl || 'empty' }}
              div
                span(class='title') Deployment URL
                span(editable-url='project.deploymentUrl'
                     e-name='deploymentUrl')
                  | {{ project.deploymentUrl || 'empty' }}

              .buttons
                // button to show form
                button.btn.btn-primary(type='button'
                                       ng-click='projectForm.$show()'
                                       ng-show='!projectForm.$visible')
                  | Edit
                // buttons to submit / cancel form
                span(ng-show='projectForm.$visible')
                  button.btn.btn-primary(type='submit'
                                         ng-disabled='projectForm.$waiting')
                    | Save
                  button.btn.btn-default(type='button'
                                         ng-disabled='projectForm.$waiting'
                                         ng-click='projectForm.$cancel()')
                    | Cancel

  button.btn.btn-default(ng-click='$ctrl.addProject()') Add Project
