.container-fluid
  h3 My Projects
  ul.list-group.student-projects
    li.list-group-item(ng-repeat='project in $ctrl.projects | orderBy : "num"')
      .row
        .col-sm-3
          h2 Project {{ project.num || 'NA' }}
        .col-sm-9
          dl.dl-horizontal.text-left
            dt Number:
            dd
              a(href='#',
              editable-range='project.num',
              e-step="1",
              e-max="5",
              ng-model='project.num',
              onbeforesave="$ctrl.updateNumber(project, $data)")
                | {{ project.num || 'empty' }}
            dt Title:
            dd
              a(href='#',
              editable-text='project.title',
              ng-model='project.title',
              onbeforesave="$ctrl.updateTitle(project, $data)")
                | {{ project.title || 'empty' }}
            dt Description:
            dd
              a(href='#',
              editable-text='project.info',
              ng-model='project.info',
              onbeforesave="$ctrl.updateInfo(project, $data)")
                | {{ project.info || 'empty' }}
            dt GitHub URL
            dd
              a(href='#',
              editable-text='project.githubUrl',
              ng-model='project.githubUrl',
              onbeforesave="$ctrl.updateGithubUrl(project, $data)")
                | {{ project.githubUrl || 'empty' }}
              a(ng-href="{{project.githubUrl}}", target="_blank", style="margin-left: 10px;")
                | (Visit)
            dt Deployment URL
            dd
              a(href='#',
              editable-text='project.deploymentUrl',
              ng-model='project.deploymentUrl',
              onbeforesave="$ctrl.updateDeploymentUrl(project, $data)")
                | {{ project.deploymentUrl || 'empty' }}
              a(ng-href="{{project.deploymentUrl}}", target="_blank", style="margin-left: 10px;")
                | (Visit)

          a.trash(ng-click='$ctrl.deleteProject(project)')
            span.glyphicon.glyphicon-trash.pull-right(style='margin-top:-15px;')

  button.btn.btn-default(ng-click='$ctrl.addProject()') Add Project
