.container-fluid
  h3 Users
  ul.list-group
    li.list-group-item(ng-repeat='user in admin.users')
      strong {{user.name}}
      br
      //- span.text-muted(ng-show='user.email') EMail: {{user.email}}
      //- span.text-muted(ng-show='user.github') GitHub:{{user.github.login}}
      dl.dl-horizontal
        dt(ng-show='user.email') Local:
        dd(ng-show='user.email') {{user.email}}
        dt(ng-show='user.github') GitHub:
        dd(ng-show='user.github') {{user.github.login}}

        dt Role:
        dd(ng-hide='user.name === "Admin"')
          a(href='#',
          editable-radiolist='user.role',
          e-ng-options='r as r for r in admin.roles',
          onbeforesave="admin.updateRole(user, $data)")
            | {{ user.role }}
        dd(ng-show='user.name === "Admin"')
          | {{ user.role }}

        div(ng-show='user.role === "student"')
          dt Cohort:
          dd
            a(href='#',
            editable-select='user.cohort',
            onshow='admin.loadCohorts(user)',
            e-ng-options='c as c.name for c in admin.cohorts',
            ng-model='user.cohort',
            onbeforesave="admin.updateCohort(user, $data)")
              | {{ user.cohort.name || 'Not Set' }}

        div(ng-show='user.role === "student"')
          dt Squad:
          dd
            a(href='#',
            editable-select='user.squad',
            onshow='admin.loadSquads(user)',
            e-ng-options='s as s.name for s in admin.squads',
            onbeforesave="admin.updateSquad(user, $data)")
              | {{ user.squad.name || 'Not Set' }}

      a.trash(ng-click='admin.delete(user)')
        span.glyphicon.glyphicon-trash.pull-right(style='margin-top:-15px;')
