.container-fluid
  h3 User Admin
  ul.list-group
    li.list-group-item(ng-repeat='user in $ctrl.users')
      .row
        .col-sm-3
          img(ng-show='user.github' src='{{ user.github.avatar_url }}' alt='Avatar' height='160' width='160')
        .col-sm-9
          strong.text-warning {{user.name}}
          br
          //- span.text-muted(ng-show='user.email') EMail: {{user.email}}
          //- span.text-muted(ng-show='user.github') GitHub:{{user.github.login}}
          dl.dl-horizontal
            dt(ng-show='user.email') Local:
            dd(ng-show='user.email') {{user.email}}
            dt(ng-show='user.github') GitHub:
            dd(ng-show='user.github') <a target="_blank" ng-href="https://github.com/{{user.github.login}}">{{user.github.login}}</a>

            dt Role:
            dd(ng-hide='user.name === "Admin"')
              a(href='#',
              editable-radiolist='user.role',
              e-ng-options='r as r for r in $ctrl.roles',
              onbeforesave="$ctrl.updateRole(user, $data)")
                | {{ user.role }}
            dd(ng-show='user.name === "Admin"')
              | {{ user.role }}

            div
              dt(ng-show='user.role !== "student"') Default Cohort:
              dt(ng-show='user.role === "student"') Cohort:
              dd
                a(href='#',
                editable-select='user.cohort',
                onshow='$ctrl.loadCohorts(user)',
                e-ng-options='c as c.name for c in $ctrl.cohorts',
                ng-model='user.cohort',
                onbeforesave="$ctrl.updateCohort(user, $data)")
                  | {{ user.cohort.name || 'Not Set' }}

            div(ng-show='user.role === "student"')
              dt Squad:
              dd
                a(href='#',
                editable-select='user.squad',
                onshow='$ctrl.loadSquads(user)',
                e-ng-options='s as s.name for s in $ctrl.squads',
                onbeforesave="$ctrl.updateSquad(user, $data)")
                  | {{ user.squad.name || 'Not Set' }}

            div(ng-show='user.role === "student"')
              dt Attendance:
              dd {{ $ctrl.getAttendancePercentage(user) | number }}%
                span(style='margin-left: 10px')
                  | ({{ $ctrl.getAttendancePresentOrLate(user) }} /
                  |  {{ user.attendance.length }})

          a.trash(ng-click='$ctrl.delete(user)')
            span.glyphicon.glyphicon-trash.pull-right(style='margin-top:-15px;')
