.attendance
  h2 Attendance for Cohort
    span.text-info(style='margin-left: 10px;') {{ $ctrl.Cohort.getCurrentCohort().name }}
  div(ng-hide='$ctrl.Cohort.getCurrentCohort()')
    p Please select a Cohort in the NavBar above to see attendance for that Cohort.
  div(ng-show='$ctrl.Cohort.getCurrentCohort()')
    a(ng-repeat='n in [1,2,3,4,5,6,7,8,9,10,11,12]' ng-href='#week{{n}}' style='margin-left: 5px;') {{n}}
    .attendance-table-wrapper
      div(ng-repeat='week in $ctrl.weeks' ng-init='weekIndex = $index')
        h3.text-warning(id='week{{week.num}}') Week {{ week.num }}
        table.table.table-bordered.table-hover.table-condensed.vertical-align
          thead
            tr(style='font-weight: bold')
              td Date
              td QuickSet
              td(ng-repeat='student in $ctrl.students')
                img(ng-show='student.github.avatar_url' src='{{ student.github.avatar_url }}' alt='Avatar' height='60' width='60')
                p(ng-show='student.name') {{ student.name }}
                p(ng-show='student.email') {{ student.email }}
                p(ng-show='student.github')
                  a(target='_blank' ng-href='https://github.com/{{student.github.login}}') {{student.github.login}}
          tbody
            tr(ng-repeat='date in week.days' ng-init='dateIndex = weekIndex * 5 + $index')
              td {{ date | date : 'fullDate' }}
              td
                a(href='#' class='btn btn-info late'
                editable-radiolist='$ctrl.quickSet'
                onbeforesave='$ctrl.onBeforeQuickSet(date, dateIndex, $data)'
                onaftersave='$ctrl.onAfterQuickSet()'
                e-ng-options='av as av for av in $ctrl.attendanceValues')
                  | QuickSet
              td(ng-repeat='student in $ctrl.students' ng-init='studentIndex = $index')
                a(href='#'
                ng-class='$ctrl.getAttendanceCssClass($ctrl.bigArray[dateIndex][studentIndex])'
                editable-radiolist='$ctrl.bigArray[dateIndex][studentIndex]'
                onbeforesave='$ctrl.onBeforeSaveAttendance(date, student, dateIndex, studentIndex, $data)'
                e-ng-options='av as av for av in $ctrl.attendanceValues')
                  | {{ $ctrl.showAttendance(dateIndex, studentIndex) }}
