div(ng-init='$ctrl.project.requirementsIsCollapsed = true; $ctrl.project.keyIsCollapsed = true;')
  a(href='#' ng-click='$ctrl.project.requirementsIsCollapsed = !$ctrl.project.requirementsIsCollapsed')
    span.text-warning
      | Requirements and Instructor Feedback
    i.text-warning.glyphicon(ng-class="{'glyphicon-chevron-down': !$ctrl.project.requirementsIsCollapsed, 'glyphicon-chevron-right': $ctrl.project.requirementsIsCollapsed}")
  div(uib-collapse='$ctrl.project.requirementsIsCollapsed')
    project-requirements-key

    pre {{ project | json }}

    table.table.table-bordered.table-striped(style='margin-top: 20px')
      thead
        tr
          th Title
          th Info
          th Comments
          th Score
      tbody
        tr(ng-repeat='requirement in $ctrl.project.requirements | orderBy : "num"')
          td {{ requirement.title }}
          td {{ requirement.info }}
          td
            a(href='#',
              editable-text='requirement.comments',
              ng-model='requirement.comments',
              onbeforesave="$ctrl.updateComments(requirement, $data)")
                | {{ requirement.comments || 'empty' }}
          td
            a(href='#',
              editable-range='requirement.score',
              e-step="0.5",
              e-min="0",
              e-max="3",
              ng-model='requirement.score',
              onshow='$ctrl.zeroForNull(requirement, "score")',
              onbeforesave='$ctrl.updateScore(requirement, $data)')
                | {{ requirement.score || (requirement.score === 0 ? 0 : 'empty') }}
